@font-face {
    font-family: 'Rounded';
    src: url('MPLUSRounded1c-Black.ttf') format('truetype');
    
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      farthest-corner at 2000px -40px,
      #ffffff 0%,
      #88c0e2 100%
    );
}

body {
    font-family: 'Rounded', sans-serif;
    color: black;
    background: #f0f0f0;
    overscroll-behavior: none;
}


#root > div > div > div:last-child::-webkit-scrollbar {
    display: none;
}

#root > div > div > div:last-child {
    pointer-events: none;
}
